body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #322f2f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #2a2a72;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #4c00ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
}

header li {
    display: inline;
    padding: 0 20px;
}

header #branding {
    display: flex;
    align-items: center;
}

header #branding h1 {
    margin: 0;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: serif;
    display: flex;
    align-items: center;
}

header #branding img {
    width: 70px;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#showcase {
    min-height: 400px;
    background: url('Background.jpeg') no-repeat center center/cover;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

#showcase h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#main {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #2a2a72;
    text-align: center;
}

.contact-form {
    background: #fff;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background: #4c00ff;
    color: #fff;
    border: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #3b00cc;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
