body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('Background.jpeg') no-repeat center center/cover;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #2a2a72;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #4c00ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
}

header li {
    display: inline;
    padding: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header #branding {
    display: flex;
    align-items: center;
}

header #branding h1 {
    margin: 0;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: serif;
    display: flex;
    align-items: center;
}

header #branding img {
    width: 70px;
    margin-right: 10px;
}

#showcase {
    min-height: 300px;
    background: url('showcase.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding-top: 100px;
}

#showcase h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#main {
    padding: 20px;
    background: white;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#main h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.service {
    flex: 1 1 calc(33.333% - 20px);
    background: #eaeaea;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.service h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

/* Mengatur tampilan footer */
footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #2a2a72;
    text-align: center;
}